

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 1;
}

.login,
.register {
  width: 400px;
}

.login h2,
.register h2 {
  font-size: 45px;
  text-transform: uppercase;
  text-align: center;
}

.login a {
  text-align: center;
}

input[type='text'] {
  background-color: #e6e6e6;
  color: #87CEEB;
  font-size: 16px;
  margin-bottom: 20px;
  border: none;
  width: 85%;
  padding: 20px 30px;
}

input[type='password'] {
  background-color: #e6e6e6;
  padding: 20px 30px;
  color: #87CEEB;
  font-size: 16px;
  margin-bottom: 20px;
  border: none;
  width: 85%;
}

input[type='submit'] {
  padding: 15px 0px;
  background-color: #87CEEB;
  color: #fff;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: none;
  width: 30%;
}

.check {
  font-size: 16px;
}




.btn1 {
  display: inline-block;
  border: 1px solid #aaa;
  border-radius: 60px;
  padding: 15px 30px;
  margin-right: 15px;
  margin-bottom: 10px;
}
.btn1:hover {
  color: #e2e2e2;
  background: rgba(255, 255, 255, 0.1);
}